<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One-Move Chess Status Page</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <meta http-equiv="refresh" content="30">
</head>
<body>
    <h1 class = title>One Move Chess Status</h1>
    <!-- 
    <div class = "issue_container"> Any Active Issue </div>
    <div class = "current_status_container"> Current Staus : Good </div>
    -->
    <div id="vm1_status" class={{vm1_status}}>VM1 Ping</div>
    <div id="vm2_status" class={{vm2_status}}>VM2 Ping</div>
    <div id="http_status" class={{http_status}}>HTTP Status</div>
</body>
</html>